<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>UPeL3.0</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link rel="shortcut icon" href="https://upel2.cel.agh.edu.pl/wiet/theme/image.php/celupel/theme/1619178409/favicon" />
</head>
<body style="background-color: #ecf1fc;">

<div th:replace="fragments/header :: header"></div>

<section class="container py-3">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pt-4 pb-2 mb-0" style="border-top: 3px solid #343a40;">
    <h2 class="my-0">Dodanie nowej oceny</h2>

    <div class="text-end">
      <a type="button" class="btn btn-primary" href="index">Powrót do listy kursów</a>
    </div>
  </header>
  <nav class="border-bottom mt-0 pt-1 mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: #ecf1fc">
      <li class="breadcrumb-item"><a href="/index">Kursy</a></li>
      <li class="breadcrumb-item"><a th:href="|/course?id=${course.getId()}|" th:text="${course.getName()}">Nazwa kursu</a></li>
      <li class="breadcrumb-item active" aria-current="page">Tworzenie nowej oceny</li>
    </ol>
  </nav>
  <p class="pb-3" style="border-bottom: 3px solid #343a40;">
    Tu możesz utworzyć nową ocenę. Wpisz jego nazwę oraz uzupełnij krótki opis.
  </p>
</section>

<div class="container pb-3">
  <form th:action="|/create_grade/${course.getId()}/${activity.getId()}|">
    <div class="form-group">
      <label for="userName">Wartość oceny:</label>
      <select class="form-control" id="userName" th:name="userName">
        <option th:each="student : ${course.getEnrolledStudents()}" th:value="${student.getEmail()}" th:text="${student.getEmail()}"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="gradeValue">Wartość oceny:</label>
      <input type="number" class="form-control" id="gradeValue" th:name="gradeValue" placeholder="Wartość oceny">
    </div>
    <div class="pt-3">
      <button type="submit" class="btn btn-primary">Dodaj ocenę</button>
    </div>
  </form>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>