<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UPeL3.0</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="shortcut icon" href="https://upel2.cel.agh.edu.pl/wiet/theme/image.php/celupel/theme/1619178409/favicon" />
</head>
<script>
    function addNewFormPart(){
        let newDiv = document.createElement('div');
        newDiv.classList.add('subActivities-class');

        newDiv.innerHTML = "<label for=\"subActivity\">Nazwa części oceny:</label>\n" +
            "            <input type=\"text\" class=\"form-control\" id=\"subActivity\" name=\"subActivity\" placeholder=\"Nazwa oceny\">\n" +
            "            <label for=\"maxPoints\">Maksymalna liczba punktów:</label>\n" +
            "            <input type=\"number\" class=\"form-control\" id=\"maxPoints\" name=\"maxPoints\" placeholder=\"Maksymalna liczba punktów\">"

        let subActivities = document.getElementById('subActivities');
        subActivities.append(newDiv);
    }
    function deleteFormPart(){
        let oldDiv = document.getElementsByClassName('subActivities-class');
        if(oldDiv.length > 1){
            oldDiv = oldDiv[oldDiv.length-1];
            oldDiv.remove();
        }

    }
    function showPassValue(){
        html = "<label for=\"passValue\">Liczba punktów potrzebnych do zdania: </label>\n" +
            "            <input type=\"number\" class=\"form-control\" id=\"passValue\" name=\"passValue\" placeholder=\"Liczba punktów potrzebnych do zdania aktywności\">"
        document.getElementById("pass_div").innerHTML = html;
    }
    function hidePassValue(){
        document.getElementById("pass_div").innerHTML = "";

    }

</script>
<body style="background-color: #ecf1fc;">

<div th:replace="fragments/header :: header"></div>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pt-4 pb-2 mb-0" style="border-top: 3px solid #343a40;">
        <h2 class="my-0">Tworzenie nowej aktywności</h2>

        <div class="text-end">
            <a type="button" class="btn btn-primary" th:href="|/course?id=${course.getId()}|">Powrót do kursu</a>
        </div>
    </header>
    <nav class="border-bottom mt-0 pt-1 mb-3" aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ecf1fc">
            <li class="breadcrumb-item"><a href="/index">Kursy</a></li>
            <li class="breadcrumb-item"><a th:href="|/course?id=${course.getId()}|" th:text="${course.getName()}">Nazwa kursu</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tworzenie nowej aktywności</li>
        </ol>
    </nav>
    <p class="pb-3" style="border-bottom: 3px solid #343a40;">
        Tu możesz utworzyć nową aktywność.
    </p>
</section>

<div class="container pb-3">
    <form th:action="|/create_activity/${course.getId()}|">
        <div class="form-group">
            <label for="activityName">Nazwa aktywności:</label>
            <input type="text" class="form-control" id="activityName" th:name="activityName" placeholder="Nazwa aktywności">
        </div>
        <div class="form-group">
            <label for="activityDescription">Opis aktywności:</label>
            <textarea class="form-control" id="activityDescription" th:name="activityDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
            <p>Czy zdanie tej aktywności jest konieczne do zaliczenia całego kursu?</p>
            <input type="radio" id="pass_nessesary" name="pass" value="yes" onchange="showPassValue()" checked> <label for="pass_nessesary">Tak</label><br>
            <input type="radio" id="pass_not_nessesary" name="pass" value="no" onchange="hidePassValue()"> <label for="pass_not_nessesary">Nie</label><br>
        </div>
        <div class="form-group" id="pass_div">
            <label for="passValue">Liczba punktów potrzebnych do zdania: </label>
            <input type="number" class="form-control" id="passValue" name="passValue" placeholder="Liczba punktów potrzebnych do zdania aktywności">
        </div>

        <div class="form-group" id="subActivities">
            <div class="subActivities-class">
                <label for="subActivity">Nazwa części oceny:</label>
                <input type="text" class="form-control" id="subActivity" th:name="subActivity" placeholder="Nazwa oceny">
                <label for="maxPoints">Maksymalna liczba punktów:</label>
                <input type="number" class="form-control" id="maxPoints" th:name="maxPoints" placeholder="Maksymalna liczba punktów">
            </div>
        </div>

        <div class="form-group">
            <input type="button" onclick="addNewFormPart()" value="Dodaj nową część oceny" class="btn btn-secondary" />
        </div>
        <div class="form-group">
            <input type="button" onclick="deleteFormPart()" value="Usuń część oceny" class="btn btn-secondary" />
        </div>

        <div class="pt-3">
            <button type="submit" class="btn btn-primary">Utwórz aktywność</button>
        </div>
    </form>
</div>


<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>