<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UPeL3.0</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body style="background-color: #ecf1fc;">

<div th:replace="fragments/header :: header"></div>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pt-4 pb-2 mb-0" style="border-top: 3px solid #343a40;">
        <h2 class="my-0">Tworzenie nowego kursu</h2>

        <div class="text-end">
            <a type="button" class="btn btn-primary" href="index">Powrót do listy kursów</a>
        </div>
    </header>
    <p class="pb-3" style="border-bottom: 3px solid #343a40;">
        Tu możesz utworzyć nowy kurs. Wpisz jego nazwę oraz uzupełnij krótki opis. (Tekst alternatywny: Przykro nam, ale tylko prowadzący mogą tworzyć nowe kursy. Jeśli chcesz uzyskać takie przywileje, skontaktuj się z administratorem.)
    </p>
</section>

<div class="container pb-3">
    <form th:action="@{/create_course}">
        <div class="form-group">
            <label for="courseName">Nazwa kursu:</label>
            <input type="text" class="form-control" id="courseName" th:name="courseName" placeholder="Nazwa kursu">
            <small id="nameHelp" class="form-text text-muted">Uczestnicy Twojego kursu będą go widzieć u siebie pod tą nazwą. Zadbaj o to by była zwięzła i jednoznaczna, np. nazwa realizowanego przedmiotu.</small>
        </div>
        <div class="form-group">
            <label for="courseDescription">Opis kursu:</label>
            <textarea class="form-control" id="courseDescription" th:name="courseDescription" rows="3"></textarea>
        </div>
        <div class="pt-3">
            <button type="submit" class="btn btn-primary">Utwórz kurs</button>
            <small id="newCourseHelp" class="form-text text-muted">Po utworzeniu kursu otrzymasz unikalny kod, dzięki któremu studenci będą w stanie samodzielnie dołączyć do kursu. Kod ten znajdziesz także później w ustawieniach kursu.</small>
        </div>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>