<html lang="pl" xmlns:th="http://www.thymeleaf.org">


<div id="footer-div" th:fragment="footer">
    <script>
        function setFooter(){
            const body = document.body;
            const footer = document.getElementById("footer-div");
            footer.style.position = "static"
            if ($(document).height() <= $(window).height()){
                footer.style.position = "fixed"
                footer.style.bottom = "0"
                footer.style.width = "100%"
            }
        }

        window.onload = setFooter;
        const resize_ob = new ResizeObserver(setFooter);
        resize_ob.observe(document.body);
    </script>
    <footer style="margin-bottom: -20px !important;" class="container pt-3 pb-0 px-0 mt-5 mb-3">
        <p class="bg-dark text-light text-center pt-1 pb-2">
            <small>&copy 2021, Copyleft Upel-dev. All rights reversed.</small>
        </p>
    </footer>
</div>
</html>