<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UPeL3.0</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="shortcut icon" href="https://upel2.cel.agh.edu.pl/wiet/theme/image.php/celupel/theme/1619178409/favicon" />
</head>
<body style="background-color: #ecf1fc;">

<div th:replace="fragments/header :: header"></div>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pt-4 pb-2 mb-0" style="border-top: 3px solid #343a40;">
        <h2 class="my-0">Aktywne achievementy</h2>
        <div class="text-end">
            <a type="button" class="btn btn-primary" th:href="|/course?id=${course.getId()}|">Powrót do kursu</a>
        </div>
    </header>
    <nav class="border-bottom mt-0 pt-1 mb-3" aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ecf1fc">
            <li class="breadcrumb-item"><a href="/index">Kursy</a></li>
            <li class="breadcrumb-item"><a th:href="|/course?id=${course.getId()}|" th:text="${course.getName()}">Nazwa kursu</a></li>
            <li class="breadcrumb-item active" aria-current="page">Achievementy</li>
        </ol>
    </nav>
</section>

<section th:each="achievement : ${achievements}">
    <article class="container py-1 mb-3">
        <div style="background-color: #d6dff5; border: 3px solid #343a40;">
            <h2 class="bg-dark text-light text-center pt-1 pb-3" th:text="${achievement.getType()}"></h2>
            <p class="mx-3 pb-3 pt-2 mb-0">
                <strong>Opis: </strong>
                <span th:text="${achievement.getType().getDescription()}">Opis achievementu.</span>
            </p>
            <p class="mx-3 pb-3 pt-2 mb-0">
                <strong>Minimalna liczba osiągnięć: </strong>
                <span th:text="${achievement.getLowerLimit()}"></span>
            </p>
        </div>
    </article>
</section>

</body>
</html>