<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UPeL3.0</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body style="background-color: #ecf1fc;">

<div th:replace="fragments/header :: header"></div>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" style="border-top: 3px solid #343a40;">
        <h2 class="pb-2" th:text="${course.getName()}">Nazwa kursu</h2>

        <div class="text-end">
            <a type="button" class="btn btn-primary" href="/index">Powrót do listy kursów</a>
            <a type="button" class="btn btn-primary" th:href="|/course?id=${course.getId()}|">Powrót do kursu</a>
            <a type="button" class="btn btn-primary" th:href="|/activity?id=${activity.getId()}|">Powrót do aktywności</a>
        </div>
    </header>
    <p class="pb-3" style="border-bottom: 3px solid #343a40;">Tutaj możesz sprawdzać oraz modyfikować ustawienia kursu.</p>
</section>

<section class="container py-3 border-bottom border-top">
    <form method="get" th:action="|/activity_settings/description/${course.getId()}/${activity.getId()}|">
        <header class="d-flex flex-wrap align-items-center py-2 mt-0 mb-4 px-0 border-bottom">
            <div class="col-3 mx-0 px-0 h-100 align-top">
                <h6 class="align-top mb-3 border-bottom border-light mr-3 pb-3">Opis aktywności:</h6>
                <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
            </div>

            <div class="mx-0 px-0 col-9">
                <textarea class="form-control col w-100" th:name="description" rows="3"
                          th:text="${activity.getDescription()}"></textarea>
            </div>
        </header>
    </form>
</section>

<section class="container py-3 border-bottom">
    <header class="d-flex flex-wrap align-items-center py-2 mx-0 px-0">
        <div class="col-8 mx-0 px-0">
            <h6 class="align-middle my-0">Punkty potrzebne, aby zdać tę aktywność:</h6>
        </div>

        <div class="mx-0 px-0 col-4">
            <form class="px-0 mx-0 col-12 form-inline" method="get"
                  th:action="|/activity_settings/passval/${course.getId()}/${activity.getId()}|">
                <div class="col-8 ml-0 pl-0">
                    <input type="number" class="form-control w-100" th:name="passValue"
                           th:placeholder="${activity.getPassValue()}" th:value="${activity.getPassValue()}">
                </div>
                <div class="col-4 mx-0 px-0">
                    <button type="submit" class="btn btn-primary px-0 mx-0 col">Zatwierdź</button>
                </div>
            </form>
        </div>
    </header>
</section>

<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>