<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UPeL3.0</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
</head>
<body style="background-color: #ecf1fc;">

<div th:replace="fragments/header :: header"></div>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pt-4 pb-2 mb-0" style="border-top: 3px solid #343a40;">
        <h2 class="my-0" th:text="${activity.getName()}">Aktywność</h2>
        <div class="text-end">
            <a type="button" class="btn btn-primary" href="index">Powrót do listy kursów</a>
            <a type="button" class="btn btn-primary" th:href="|/course?id=${course.getId()}|">Powrót do kursu</a>
            <a type="button" class="btn btn-primary" th:href="|/activity_settings/${course.getId()}/${activity.getId()}|">Ustawienia aktywności</a>
        </div>
    </header>
    <nav class="border-bottom mt-0 pt-1 mb-3" aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ecf1fc">
            <li class="breadcrumb-item"><a href="/index">Kursy</a></li>
            <li class="breadcrumb-item"><a th:href="|/course?id=${course.getId()}|" th:text="${course.getName()}">Nazwa kursu</a></li>
            <li class="breadcrumb-item"><a th:href="|/activity?id=${activity.getId()}|" th:text="${activity.getName()}">Nazwa aktywności</a></li>
            <li class="breadcrumb-item active" aria-current="page">Strona główna aktywności</li>
        </ol>
    </nav>
    <p class="pb-3 border-bottom">
        <strong>Opis aktywności: </strong>
        <span th:text="${activity.getDescription()}">Opis aktywności.</span>
    </p>
    <p class="pb-3" style="border-bottom: 3px solid #343a40;">
        Tutaj możesz podejrzeć wszystkie oceny swoich podopiecznych w ramach tej aktywności.
    </p>
</section>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center py-2 mx-0 px-0 border-bottom border-top">
        <div class="col-8 mx-0 px-0">
            <h6 class="align-middle my-0">Punkty potrzebne, aby zdać tę aktywność:</h6>
        </div>

        <div class="mx-0 px-0 col-4">
            <form class="px-0 mx-0 col-12 form-inline" method="get"
                  th:action="|/edit_grade/passval/${course.getId()}/${activity.getId()}|">
                <div class="col-8 ml-0 pl-0">
                    <input type="number" class="form-control w-100" th:name="passValue"
                           th:placeholder="${activity.getPassValue()}" th:value="${activity.getPassValue()}">
                </div>
                <div class="col-4 mx-0 px-0">
                    <button type="submit" class="btn btn-primary px-0 mx-0 col">Zatwierdź</button>
                </div>
            </form>
        </div>
    </header>
    <header class="d-flex flex-wrap align-items-center py-2 mt-0 mb-4 px-0 border-bottom">
        <div class="col-6 mx-0 px-0 my-2">
            <h6 class="align-middle my-0">Pula punktów przewidziana dla tej aktywności:</h6>
        </div>
        <div class="mx-0 px-0 col-6 text-right my-2">
            <p class="my-0"><strong th:text="${activity.getMaxPoints()}">-</strong></p>
        </div>
    </header>
    <header class="d-flex flex-wrap align-items-center py-2 mt-0 mb-4 px-0 border-bottom">
        <div class="col-6 mx-0 px-0 my-2">
            <h6 class="align-middle my-0">Sposób agregacji ocen dla tej aktywności:</h6>
        </div>
        <div class="mx-0 px-0 col-6 text-right my-2">
            <p class="my-0"><strong th:text="${activity.getAggregation()}">-</strong></p>
        </div>
    </header>
    <table class="table table-hover table-bordered bg-light">
        <thead>
        <tr>
            <th scope="col">Użytkownik</th>
            <th scope="col">Zaawansowane</th>
            <th scope="col" th:text="${activity.getAggregation()}">Suma</th>
            <th scope="col" class="text-nowrap" th:each="subActivity : ${activity.getSubActivities()}" th:text="${subActivity.getName()}"></th>
        </tr>
        </thead>

        <tbody th:each="grade, iterStat : ${grades}"
               th:style="${grade.getValue()} >= ${grade.getActivity().getPassValue()} ? 'background-color: #d0faa3' : 'background-color: #ff978f'">
        <form th:action="|/edit_grade/${course.getId()}/${activity.getId()}/${grade.getUser().getEmail()}|">
            <tr>
                <td class="col text-nowrap align-middle">
                    <p class="align-middle mb-1" th:text="${grade.getUser().getFirstName()} + ' ' + ${grade.getUser().getLastName()}"></p>
                </td>
                <td class="col text-nowrap text-center">
                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                            th:data-target="'#collapseExample' + ${iterStat.count}"
                            aria-expanded="false" aria-controls="collapseExample">
                        Pokaż
                    </button>
                </td>
                <td class="col text-nowrap align-middle">
                    <p class="align-middle mb-1"><strong th:text="${grade.getValue()}"></strong></p>

                </td>
                <td class="col text-nowrap" th:each="subGrade : ${grade.getSubGrades()}">
                    <input type="number" class="form-control" th:name="subGrade"
                           th:placeholder="${subGrade.getValue()}" th:value="${subGrade.getValue()}">
                </td>
            </tr>
            <tr class="collapse" th:id="'collapseExample' + ${iterStat.count}" style="background-color: #d9e6f9;">
                <td class="card-body" colspan="10000">
                    <header class="d-flex flex-wrap justify-content-center py-1 mx-0 px-0">
                        <div class="col-3 mx-0 px-0 h-100 align-top">
                            <h6 class="align-top mb-3 border-bottom border-light mr-3 pb-3">Komentarz:</h6>
                            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                        </div>

                        <div class="mx-0 px-0 col-9">
                            <textarea class="form-control col w-100" th:name="description" rows="3"
                                      th:text="${grade.getDescription()}"></textarea>
                        </div>
                    </header>
                </td>
            </tr>
        </form>
        </tbody>

        <thead style="border-top: 3px solid #343a40;">
        <tr th:if="${#strings.contains(#strings.setJoin(user.getRoles(), ','), 'LECTURER')}">
            <th scope="col" colspan="3">Użytkownik</th>
            <th scope="col" th:each="subActivity : ${activity.getSubActivities()}" th:text="${subActivity.getName()}"></th>
        </tr>
        </thead>

        <thead>
        <form th:if="${#strings.contains(#strings.setJoin(user.getRoles(), ','), 'LECTURER')}"
              th:action="|/create_grade/${course.getId()}/${activity.getId()}|">
            <tr>
                <td scope="col" colspan="3">
                    <select class="form-control" id="userName" th:name="userName">
                        <option th:each="student : ${course.getEnrolledStudents()}" th:value="${student.getEmail()}"
                                th:text="|${student.getFirstName()} ${student.getLastName()}|"></option>
                    </select>
                </td>

                <td scope="col" th:each="subActivity : ${activity.getSubActivities()}">
                    <input type="number" class="form-control" th:id="${subActivity.getName()}" th:name="subGrade"
                           placeholder="0" value="0">
                </td>

            </tr>
            <tr>
                <td class="" colspan="10000">
                    <header class="d-flex flex-wrap justify-content-center py-1 mx-0 px-0">
                        <div class="col-3 mx-0 px-0 h-100 align-top">
                            <h6 class="align-top mb-3 border-bottom mr-3 pb-3">Komentarz:</h6>
                            <button type="submit" class="btn btn-primary">Dodaj ocenę</button>
                        </div>

                        <div class="mx-0 px-0 col-9">
                            <textarea class="form-control col w-100" id="description" th:name="description" rows="3"></textarea>
                        </div>
                    </header>
                </td>
            </tr>
        </form>
        </thead>
    </table>
</section>

<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>