<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UPeL3.0</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body style="background-color: #ecf1fc;">

<header class="container navbar-dark bg-dark">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <p class="justify-content-center navbar-brand">UPeL 3.0 - Uczelniana Platforma e-Learningowa</p>
        <div class="text-end">
            <p th:text="${firstname} + ' ' + ${lastname}" class="justify-content-center navbar-brand">Imię Nazwisko</p>
            <button type="button" class="btn btn-primary">Profil</button>
            <button type="button" class="btn btn-primary">Wyloguj się</button>
        </div>
    </div>
</header>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <h2 class="pb-2">Systemy operacyjne</h2>

        <div class="text-end">
            <button type="button" class="btn btn-primary">Powrót do listy kursów</button>
            <button type="button" class="btn btn-primary">Ustawienia kursu</button>
        </div>
    </header>
    <p class="pb-3" style="border-bottom: 3px solid #343a40;">
        Huh, załóżmy, że prowadzący się postarał i zamieścił dość długi opis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
</section>

<div class="container pb-3">
    <div class="row text-light align-items-start justify-content-center">
        <div class="d-flex p-2">
            <button type="button" class="btn btn-primary">Strona główna</button>
        </div>
        <div class="d-flex p-2">
            <button type="button" class="btn btn-primary">Uczestnicy</button>
        </div>
        <div class="d-flex p-2">
            <button type="button" class="btn btn-primary">Leaderboard</button>
        </div>
        <div class="d-flex p-2">
            <button type="button" class="btn btn-primary">Lorem ipsum</button>
        </div>
        <div class="d-flex p-2">
            <button type="button" class="btn btn-primary">Dolor sit</button>
        </div>
        <div class="d-flex p-2">
            <button type="button" class="btn btn-primary">Amet consectetur</button>
        </div>
        <div class="d-flex p-2">
            <button type="button" class="btn btn-primary">Adipiscing</button>
        </div>
        <div class="d-flex p-2">
            <button type="button" class="btn btn-primary">Elit set do</button>
        </div>
        <div class="d-flex p-2">
            <button type="button" class="btn btn-primary">Eiusmod tempor</button>
        </div>
    </div>
</div>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" style="border-top: 3px solid #343a40;">
        <h2 class="pb-2">Aktywności</h2>

        <div class="text-end">
            <button type="button" class="btn btn-primary">Dodaj aktywność</button>
        </div>
    </header>
    <p class="pb-3" style="border-bottom: 3px solid #343a40;">
        Tutaj możesz podejrzeć wszystkie aktywności udostępnione w ramach przeglądanego obecnie kursu.
    </p>
</section>

<article class="container p-1 mb-3">
    <div style="background-color: #d6dff5; border: 3px solid #343a40;">
        <h2 class="bg-dark text-light text-center pt-1 pb-3">Laboratorium 1 - Chyba biblioteki i makefile</h2>
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2">
            <p class="justify-content-center col-9">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <div class="text-end mr-3" style="text-align: right;">
                <button type="button" class="btn btn-primary">Przejdź do aktywności</button>
            </div>
        </div>
    </div>
</article>

<article class="container p-1 mb-3">
    <div style="background-color: #d6dff5; border: 3px solid #343a40;">
        <h2 class="bg-dark text-light text-center pt-1 pb-3">Laboratorium 2 - Jakiś tam inny temat</h2>
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2">
            <p class="justify-content-center col-9">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <div class="text-end mr-3" style="text-align: right;">
                <button type="button" class="btn btn-primary">Przejdź do aktywności</button>
            </div>
        </div>
    </div>
</article>


<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

<footer class="container pt-3 pb-0 px-0 mt-5 mb-3">
    <p class="bg-dark text-light text-center pt-1 pb-2">
        <small>&copy 2021, Copyleft Upel-dev. All rights reversed.</small>
    </p>
</footer>

</body>
</html>