<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UPeL3.0</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body style="background-color: #ecf1fc;">

<div th:replace="fragments/header :: header"></div>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pt-4 pb-2 mb-0" style="border-top: 3px solid #343a40;">
        <h2 class="my-0">Zapisy na kurs</h2>

        <div class="text-end">
            <a type="button" class="btn btn-primary" href="index">Powrót do listy kursów</a>
        </div>
    </header>
    <nav class="border-bottom mt-0 pt-1 mb-3" aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ecf1fc">
            <li class="breadcrumb-item"><a href="/index">Kursy</a></li>
            <li class="breadcrumb-item active" aria-current="page">Zapisy na kurs</li>
        </ol>
    </nav>
    <p class="pb-3" style="border-bottom: 3px solid #343a40;">
        Tu możesz dołączyć do istniejącego kursu. Możesz to zrobić poprzez wpisanie unikalnego kodu kursu, do którego chcesz dołączyć.
    </p>
</section>

<div class="container pb-3">
    <form th:action="@{/enroll}">
        <div class="form-group">
            <label for="courseCode">Kod kursu:</label>
            <input type="text" th:name="courseCode" class="form-control" id="courseCode" placeholder="Kod kursu">
            <small id="courseIdHelp" class="form-text text-muted">Unikalny kod kursu możesz dostać od prowadzącego tego kursu.</small>
        </div>
        <div class="pt-3">
            <button type="submit" class="btn btn-primary">Zapisz się</button>
            <small id="newEnrollmentHelp" class="form-text text-muted">Po zapisaniu się na kurs będziesz mógł uczestniczyć w zajęciach oraz monitorować oceny z aktywności na bieżąco.</small>
        </div>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>