<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UPeL3.0</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="shortcut icon" href="https://upel2.cel.agh.edu.pl/wiet/theme/image.php/celupel/theme/1619178409/favicon" />
</head>
<body style="background-color: #ecf1fc;">

<div th:replace="fragments/header :: header"></div>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pt-4 pb-2 mb-0" style="border-top: 3px solid #343a40;">
        <h2 class="my-0" th:text="${course.getName()}">Nazwa kursu</h2>

        <div class="text-end">
            <a type="button" class="btn btn-primary" href="index">Powrót do listy kursów</a>
            <a type="button" class="btn btn-primary" th:href="|course_settings?id=${course.getId()}|">Ustawienia kursu</a>
        </div>
    </header>
    <nav class="border-bottom mt-0 pt-1 mb-3" aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ecf1fc">
            <li class="breadcrumb-item"><a href="/index">Kursy</a></li>
            <li class="breadcrumb-item"><a th:href="|/course?id=${course.getId()}|" th:text="${course.getName()}">Nazwa kursu</a></li>
            <li class="breadcrumb-item active" aria-current="page">Strona główna kursu</li>
        </ol>
    </nav>
    <p class="pb-3 border-bottom">
        <strong>Opis kursu: </strong>
        <span th:text="${course.getDescription()}">Opis kursu.</span>
    </p>
    <p class="pb-3" style="border-bottom: 3px solid #343a40;">
        Tutaj możesz podejrzeć wszystkie kwestie dotyczące danego kursu.
    </p>
</section>

<div class="container pb-3">
    <div class="row text-light align-items-start justify-content-center">
        <div class="d-flex p-2">
            <a type="button" class="btn btn-primary" href="#">Strona główna</a>
        </div>
        <div class="d-flex p-2">
            <a type="button" class="btn btn-primary" th:href="|course_students?id=${course.getId()}|">Uczestnicy</a>
        </div>
        <div class="d-flex p-2">
            <a type="button" class="btn btn-primary" href="#">Leaderboard</a>
        </div>
    </div>
</div>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pb-3 pt-4 mb-3 border-bottom" style="border-top: 3px solid #343a40;">
        <h2 class="pb-2">Aktywności</h2>

        <div th:if="${#strings.contains(#strings.setJoin(user.getRoles(), ','), 'LECTURER') and user.getCoursesLectured().contains(course)}" class="text-end">
            <a type="button" class="btn btn-primary" th:href="|new_activity/1?id=${course.getId()}|">Dodaj aktywność</a>
        </div>
    </header>
    <p class="pb-3" style="border-bottom: 3px solid #343a40;">
        Lista wszystkich aktywności udostępnionych w ramach przeglądanego obecnie kursu.
    </p>
</section>

<section th:each="activity : ${course.getActivity()}">
    <article class="container py-1 mb-3">
        <div style="background-color: #d6dff5; border: 3px solid #343a40;">
            <h2 class="bg-dark text-light text-center pt-1 pb-3" th:text="${activity.getName()}">Laboratorium 1 - Chyba biblioteki i makefile</h2>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2">
                <div class="justify-content-center col-9">
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                </div>
                <div class="text-end mr-3" style="text-align: right;">
                    <a type="button" class="btn btn-primary" th:href="|activity?id=${activity.getId()}|">Przejdź do aktywności</a>
                </div>
            </div>
        </div>
    </article>
</section>

<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>