<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UPeL3.0</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="shortcut icon" href="https://upel2.cel.agh.edu.pl/wiet/theme/image.php/celupel/theme/1619178409/favicon" />
</head>
<body style="background-color: #ecf1fc;">

<div th:replace="fragments/header :: header"></div>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pt-4 pb-2 mb-0" style="border-top: 3px solid #343a40;">
        <h2 class="my-0">Twoje kursy</h2>
        <div class="text-end">
            <a th:if="${#strings.contains(#strings.setJoin(user.getRoles(), ','), 'LECTURER')}"
               type="button" class="btn btn-primary" href="new_course">Utwórz nowy kurs</a>
            <a th:unless="${#strings.contains(#strings.setJoin(user.getRoles(), ','), 'ADMIN')}"
               type="button" class="btn btn-primary" href="course_enrollment">Dołącz do istniejącego kursu</a>
            <a th:if="${#strings.contains(#strings.setJoin(user.getRoles(), ','), 'ADMIN')}"
               type="button" class="btn btn-primary" href="new_user">Dodaj użytkownika</a>
            <!--the effect of trying to figure out why 'isAdmin' or '.contains(Role.ADMIN)' didn't work,
                giving up and just concatenating the set of role enums into a string-->
        </div>
    </header>
    <nav class="border-bottom mt-0 pt-1 mb-3" aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ecf1fc">
            <li class="breadcrumb-item"><a href="/index">Kursy</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lista kursów</li>
        </ol>
    </nav>
    <p class="pb-3" style="border-bottom: 3px solid #343a40;">
        Tutaj możesz podejrzeć wszystkie swoje kursy. Jeśli jesteś studentem, to zobaczysz tu wszystkie kursy, których uczestnikiem jesteś. Jeśli jesteś prowadzącym, to zobaczysz tu także wszystkie kursy, które prowadzisz.
    </p>
</section>

<section th:each="course : ${courses}">
    <article class="container py-1 mb-3">
        <div style="background-color: #d6dff5; border: 3px solid #343a40;">
            <h2 class="bg-dark text-light text-center pt-1 pb-3" th:text="${course.getName()}">Nazwa kursu</h2>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2">
                <p class="justify-content-center col-9" th:text="${course.getDescription()}">Opis kursu.</p>
                <div class="text-end mr-3 mb-2" style="text-align: right;">
                    <a type="button" class="btn btn-primary" th:href="|course?id=${course.getId()}|">Przejdź do kursu</a>
                </div>
            </div>
        </div>
    </article>
</section>

<section class="container py-3" th:unless="${hiddenCourses.isEmpty()}">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-0 border-bottom">
        <h2 class="pb-2">Ukryte kursy</h2>
        <div class="text-end">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Rozwiń listę ukrytych kursów
            </button>
        </div>
        <p class="mt-3">Posiadasz jeden lub więcej ukrytych kursów. Zostają one wyświetlane w widoku uproszczonym. Jeśli chcesz przywrócić je do widoku głównego przejdź do ustawień wybranego kursu i zmień jego ustawienia widoczności.</p>
    </header>
    <div class="collapse" id="collapseExample">
        <div class="card-body px-0 mx-0 py-0">
            <div th:each="course : ${hiddenCourses}" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 border-bottom">
                <h4 class="py-0 my-0 align-middle" th:text="${course.getName()}">Nazwa kursu</h4>
                <div class="text-end">
                    <div class="text-end mr-0 my-0" style="text-align: right;">
                        <a type="button" class="btn btn-primary" th:href="|course?id=${course.getId()}|">Przejdź do kursu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>