<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UPeL3.0</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body style="background-color: #ecf1fc;">

<div th:replace="fragments/header :: header"></div>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <h2 class="pb-2">Twoje kursy</h2>

        <div class="text-end">
            <a type="button" class="btn btn-primary" href="new_course">Utwórz nowy kurs</a>
            <a type="button" class="btn btn-primary" href="enroll">Dołącz do istniejącego kursu</a>
        </div>
    </header>
    <p class="pb-3" style="border-bottom: 3px solid #343a40;">
        Tutaj możesz podejrzeć wszystkie swoje kursy. Jeśli jesteś studentem, to zobaczysz tu wszystkie kursy, których uczestnikiem jesteś. Jeśli jesteś prowadzącym, to zobaczysz tu także wszystkie kursy, które prowadzisz.</p>
</section>

<section th:each="course : ${courses}">
    <article class="container py-1 mb-3">
        <div style="background-color: #d6dff5; border: 3px solid #343a40;">
            <h2 class="bg-dark text-light text-center pt-1 pb-3" th:text="${course.getName()}">Nazwa kursu</h2>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2">
                <p class="justify-content-center col-9" th:text="${course.getDescription()}">Opis kursu.</p>
                <div class="text-end mr-3 mb-2" style="text-align: right;">
                    <a type="button" class="btn btn-primary" th:href="|course?id=${course.getId()}|">Przejdź do kursu</a>
                </div>
            </div>
        </div>
    </article>
</section>

<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>