<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UPeL3.0</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body style="background-color: #ecf1fc;">

<div th:replace="fragments/header :: header"></div>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pt-4 pb-2 mb-0" style="border-top: 3px solid #343a40;">
        <h2 class="my-0">Twój profil</h2>

        <div class="text-end">
            <a type="button" class="btn btn-primary" href="index">Powrót do listy kursów</a>
        </div>
    </header>
    <nav class="border-bottom mt-0 pt-1 mb-3" aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ecf1fc">
            <li class="breadcrumb-item"><a href="/index">Kursy</a></li>
            <li class="breadcrumb-item"><a href="/profile" text="Profil">Profil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Widok główny profilu</li>
        </ol>
    </nav>
    <p class="pb-3" style="border-bottom: 3px solid #343a40;">
        Tutaj możesz zarządzać swoim kontem.
    </p>
</section>
<section class="container py-3">

    <div class="container pb-3" th:with="isStudent=${userService.isStudent(user)}">
        <dl class="row">
            <dt class="col-sm-3"><h4>Dane osobowe</h4></dt>
        </dl>

        <dl class="row">
            <dt class="col-sm-3">Imię</dt>
            <dd class="col-sm-9" th:text="${user.getFirstName()}"></dd>

            <dt class="col-sm-3">Nazwisko</dt>
            <dd class="col-sm-9" th:text="${user.getLastName()}"></dd>

            <dt class="col-sm-3" th:if="${isStudent}">Numer indeksu</dt>
            <dd class="col-sm-9" th:if="${isStudent}" th:text="${user.getIndexNumber()}">Tu będzie numer</dd>

            <dt class="col-sm-3 text-truncate">Email</dt>
            <dd class="col-sm-9" th:text="${user.getEmail()}"></dd>

        </dl>
    </div>

    <div class="container pb-3">
        <div class="text-start">
            <a type="button" class="btn btn-primary" href="profile">Zmień hasło</a>
        </div>
    </div>

</section>

<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>