<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UPeL3.0</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body style="background-color: #ecf1fc;">

<div th:replace="fragments/header :: header"></div>

<section class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <h2 class="pb-2">Twój profil</h2>

        <div class="text-end">
            <a type="button" class="btn btn-primary" href="index">Powrót do listy kursów</a>
        </div>
    </header>
    <p class="pb-3" style="border-bottom: 3px solid #343a40;">
        Tu możesz zarządzać swoim kontem.
    </p>
</section>

<div class="container pb-3">
    <dl class="row">
        <dt class="col-sm-3">Imię</dt>
        <dd class="col-sm-9">Tu będzie imię</dd>

        <dt class="col-sm-3">Nazwisko</dt>
        <dd class="col-sm-9">
            <p>Tu będzie nazwisko</p>
        </dd>

        <dt class="col-sm-3">Numer indeksu</dt>
        <dd class="col-sm-9">Tu będzie numer</dd>

        <dt class="col-sm-3 text-truncate">Email</dt>
        <dd class="col-sm-9">Tu będzie email</dd>

        <dt class="col-sm-3">Nesting</dt>
        <dd class="col-sm-9">
            Hasełko
        </dd>
    </dl>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>